body {
  margin: 0;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* NAV BAR SECTION */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8%;
}

.logo {
  width: 300px;
  margin-left: 14%;
}
.nav-right-items {
  width: 60%;
  margin-left: 18%;
}

.nav-items {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 15%;
}

/* SECTION 1 */

.section-1 {
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
  background: linear-gradient(
      141deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://rocketman.learnwagtail.com/media/images/spacex-OHOU-5UVIYQ-unsplash.2e16d0ba.fill-1600x800.jpg);
}

.section-1-content {
  width: 60%;
  padding: 4% 4%;
  margin: auto;
}
.secton-1-heading {
  color: white;
  font-size: 64px;
  font-weight: 350;
  margin-bottom: 20px;
}

.section-1-title {
  color: white;
  font-size: 1.875rem;
  font-weight: 320;
  margin-bottom: 50px;
}

.section-1-button {
  width: 180px;
  height: 50px;
  color: black;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 2px;
  letter-spacing: 3px;
  font-weight: 500;
}

/* SECTION 2 */

.section2 {
  text-align: center;
  width: 1200px;
  display: block;
  margin: auto;
}

.section2-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin: 90px 0;
}

.section2-container {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px 50px;
}

.toy1-container {
  width: 50%;
  border: 1px solid rgba(171, 170, 170, 0.564);
  margin-right: 20px;
  margin-bottom: 80px;
  padding-bottom: 50px;
}

.toy {
  width: 100%;
}

.toy-heading {
  font-weight: 800;
  font-size: 1.2rem;
}

.toy-title {
  font-size: 1.19rem;
  padding: 2px 20px;
}

.toy-link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(52, 52, 243);
}

.rocket-img {
  width: 780px;
  margin-left: 50px;
}

/* SECTION 3 */

.section3 {
  width: 1200px;
  margin: auto;
}

.section4 {
  width: 1200px;
  margin: auto;
}

.section5 {
  width: 1200px;
  margin: auto;
}

.section3-container {
  width: 400px;
  position: relative;
  left: 600px;
  top: -160px;
  background-image: url(/images/greyback.png);
  color: white;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.section4-container {
  width: 400px;
  position: relative;
  left: 900px;
  top: -160px;
  background-image: url(/images/greyback.png);
  color: white;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.section5-container {
  width: 400px;
  position: relative;
  left: 900px;
  top: -160px;
  background-image: url(/images/greyback.png);
  color: white;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.section3-heading {
  font-weight: 800;
  font-size: 2rem;
}

.section3-title {
  font-weight: 400;
  font-size: 1.2rem;
}
.detail-btn {
  width: 260px;
  height: 60px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.section6 {
  text-align: center;
  width: 63%;
  margin: 0 auto 80px;
}

.section6-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
}

.contact-btn {
  width: 260px;
  height: 50px;
  color: rgb(255, 255, 255);
  background-color: #814ebf;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.section6-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: black;
  font-style: italic;
}

.section6-sub {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.section7 {
  display: flex;
  background-image: url(/images/whiteback.png);
  background-color: #814ebf;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
}

.section7-container {
  width: 60%;
  margin-right: 120px;
}

.section7-heading {
  font-weight: 800;
  color: white;
  font-size: 2.2rem;
}

.contact2-btn {
  width: 200px;
  height: 50px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
}

.section7-title {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.footer {
  display: flex;
  background-color: rgb(21, 18, 33);
  color: white;
  height: 260px;
  padding: 40px 40px;
  align-items: ;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 30px;
  padding: 10px 14px;
}
.footer-title {
  color: rgb(120, 119, 119);
  font-size: 0.7rem;
  font-weight: 700;
}
.footer-links {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 360;
}

.time {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 360;
  margin: 0;
}

.footer-img {
  padding: 10px 0;
}

.social {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.copyright {
  margin: 0;
  color: rgb(120, 119, 119);
  font-size: small;
}
